{{ form_start(form) }}
    {{ form_row(form.oldPassword)}}
    {{ form_row(form.newPassword)}}
    {{ form_row(form.confirmPassword)}}                        
{{ form_end(form) }}

<a href="{{ path('app_logout') }}" type="button" class="btn btn-secondary">Cancelar y salir</a>