{% extends 'base.html.twig' %}

{% block title %}Matter index{% endblock %}

{% block body %}
    <h1>Matter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsFirstFourMonth</th>
                <th>Name</th>
                <th>YearCarrer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matter in matters %}
            <tr>
                <td>{{ matter.id }}</td>
                <td>{{ matter.isFirstFourMonth ? 'Yes' : 'No' }}</td>
                <td>{{ matter.name }}</td>
                <td>{{ matter.yearCarrer }}</td>
                <td>
                    <a href="{{ path('app_matter_show', {'id': matter.id}) }}">show</a>
                    <a href="{{ path('app_matter_edit', {'id': matter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matter_new') }}">Create new</a>
{% endblock %}
