{% extends 'base.html.twig' %}

{% block title %}TeacherExam index{% endblock %}

{% block body %}
    <h1>TeacherExam index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsActive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher_exam in teacher_exams %}
            <tr>
                <td>{{ teacher_exam.id }}</td>
                <td>{{ teacher_exam.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_teacher_exam_show', {'id': teacher_exam.id}) }}">show</a>
                    <a href="{{ path('app_teacher_exam_edit', {'id': teacher_exam.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teacher_exam_new') }}">Create new</a>
{% endblock %}
