{% extends 'base.html.twig' %}

{% block title %}InscriptionExam{% endblock %}

{% block body %}
    <h1>InscriptionExam</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscription_exam.id }}</td>
            </tr>
            <tr>
                <th>TimeSince</th>
                <td>{{ inscription_exam.timeSince ? inscription_exam.timeSince|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>TimeUntil</th>
                <td>{{ inscription_exam.timeUntil ? inscription_exam.timeUntil|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Exam</th>
                <td>{{ inscription_exam.exam }}</td>
            <tr/>
        </tbody>
    </table>

    <a href="{{ path('app_inscription_exam_index') }}">back to list</a>

    <a href="{{ path('app_inscription_exam_edit', {'id': inscription_exam.id}) }}">edit</a>

    {{ include('inscription_exam/_delete_form.html.twig') }}
{% endblock %}
