{% extends 'base.html.twig' %}

{% block title %}New ----- Admin{% endblock %}

{% block body %}

    <h1>Create new Admin</h1>

    {% for flash_message in app.session.flashbag.get('massage') %}
        <div class="flash-danger">
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.dni)}}
        {{ form_row(form.email)}}
        {{ form_row(form.lastname)}}
        {{ form_row(form.name)}}
        {{ form_row(form.password)}}
        {{ form_row(form.phone)}}
        {{ form_row(form.securityKey)}}
                        
    {{ form_end(form) }}

    <a href="{{ path('app_admin_index') }}">back to list</a>
{% endblock %}