{% extends 'base.html.twig' %}

{% block title %}InscriptionCourse index{% endblock %}

{% block body %}
    <h1>InscriptionCourse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TimeSince</th>
                <th>TimeUntil</th>
                <th>Course</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription_course in inscription_courses %}
            <tr>
                <td>{{ inscription_course.id }}</td>
                <td>{{ inscription_course.timeSince ? inscription_course.timeSince|date('Y-m-d') : '' }}</td>
                <td>{{ inscription_course.timeUntil ? inscription_course.timeUntil|date('Y-m-d') : '' }}</td>
                <td>{{ inscription_course.course }}</td>
            
                <td>
                    <a href="{{ path('app_inscription_course_show', {'id': inscription_course.id}) }}">show</a>
                    <a href="{{ path('app_inscription_course_edit', {'id': inscription_course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inscription_course_new') }}">Create new</a>
{% endblock %}
